/*View in dark mode for good effects*/


  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

  }
  #popup-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem 0px;
    flex-direction: column;
    background-color: rgb(26, 134, 230);

  }


 