@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    body {
        font-family: 'Poppins', sans-serif;
      }
}
a li ul{
    text-decoration: none;
    list-style: none;
}
:root {
    --color-green:#1A9718;
}

#popup-container {
    /* width: 500px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #1A9718;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 0px;
    }
    
    #popup-message {
        padding-right: 12px;
        color: #b6abab;
    }
    .pop-up {
     margin: 12px 0px;
    }
    #popup-ok {
        border: none;
        background-color: #da19e0;
        padding: 10px;
        padding: 8px 12px;
        border-radius: 6px;
        cursor: pointer;
    }

.container-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 4px solid rgb(255, 208, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-right-color: transparent;
    animation: rot 1s linear infinite;
    box-shadow: 0px 0px 20px rgb(17, 180, 45) inset;
  }
  
  @keyframes rot {
    100% {
      transform: rotate(360deg);
    }
  }
#login {
    width: 100%;
    height: 100vh;
    background-color: #345533;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}

.login-container  h1 {
 padding: 2rem 0px;
 color: #fff;
}

.middle-main {
    width: 35%;
    height: 50%;
    background-color: #fff;
    padding: 2.4rem 2rem 2.4rem 2rem;
    border-radius: 20px;
}
.input-name {
    display: flex;
    flex-direction: column;
    padding: 3px 0px;
}
.input-name label {
    margin-top: 3px;
}
.input-name label {
    font-size: 17px;
    font-weight: bold;
}
.input-name input {
    padding: 8px 8px;
    font-family: poppins;
    border: 2px solid #092458;
    border-radius: 8px;
    margin: 0.8rem 0px;
    outline: none    ;

}
.errors{
    color: red;
    font-size: 13px;
}
.signup {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.8rem 0px;
}
.signup button {
 border: none;
 font-family: poppins;
}
.signup button {
    background-color: #4A63E7;
    padding:6px 12px;
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.signup .login {
    color: #4A63E7;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.goBack-login a {
    margin: 0.6rem 0px;
    color: #030303;
    font-family: 800;
    transition: all 1s ease;
    text-decoration: none;
}
.goBack-login a:hover {
   text-decoration: underline;
   color: #da19e0;
}
.login a {
    text-decoration: none;
    color: #4A63E7;
}
.signup .login:hover {
    border-bottom: 1px solid #1A9718;
}
@media screen and (max-width: 920px) {
    .login-container {
      padding-top: 13rem;
    }
    .middle-main {
        width: 90%;
        height: 100%;
        background-color: #fff;
        /* margin-top: 5rem; */
        margin-bottom: 20rem ;
        padding:1rem 1.9rem;
    } 
    
}