@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    body {
        font-family: 'Poppins', sans-serif;
      }
}
a li ul{
    text-decoration: none;
    list-style: none;
}
:root {
    --color-green:#1A9718;
}


#login {
    width: 100%;
    height: 100vh   ;
    background-color: #345533;
}

#popup-container {
/* width: 500px; */
display: flex;
align-items: center;
flex-direction: column;
background-color: #1A9718;
border-radius: 10px;
padding: 10px;
margin: 1rem 0px;
}

#popup-message {
    padding-right: 12px;
    color: #b6abab;
}
.pop-up {
 margin: 12px 0px;
}
#popup-ok {
    border: none;
    background-color: #da19e0;
    padding: 10px;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.login-container  h1 {
 padding: 2rem 0px;
 color: #fff;
}
 .errors {
    color: red;
    font-size: 13px;
 }
.middle-main {
    width: 35%;
    /* height:100%; */
    background-color: #fff;
    padding: 1rem 3rem 0px 3rem;
    border-radius: 20px;
}
.input-name {
    display: flex;
    flex-direction: column;
}
.input-name label {
    font-size: 17px;
    font-weight: bold;
}
.input-name input {
    padding: 8px 8px;
    font-family: poppins;
    border: 2px solid #092458;
    border-radius: 8px;
    margin: 0.8rem 0px;
    outline: none;
}
.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0.8rem 0px;

}
.signup button {
    border: none;
}
.signup button {
    background-color: #4A63E7;
    padding:6px 1rem;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-family: poppins;
}
.signup .login a{
    color: #4A63E7;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.login a{
    text-decoration: none;
 
}
.signup .login:hover {
    border-bottom: 1px solid #1A9718;
}
.goBack {
    margin: 1rem 0px;
}
.goBack a {
    color: #030303;
    font-family: 800;
    transition: all 1s ease;
    text-decoration: none;
}
.goBack a:hover {
   text-decoration: underline;
   color: #da19e0;
}
.show-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .login-container {
        padding-top: 3rem;
      }
    .middle-main {
        width: 90%;
        height: 100%;
        background-color: #fff;
        margin-bottom: 7.3rem;
        padding: 1.2rem 2rem 0px 2rem;

    } 
}


   