@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    body {
        font-family: 'Poppins', sans-serif;
      }
}
a li ul{
    text-decoration: none;
    list-style: none;
}
:root {
    --color-green:#1A9718;
}
#landing-page{
    width: 100%;
    height: 100%;
    background-color: #11110F;
    margin-right: 2rem;
    overflow-x: hidden;
}
.container-nav {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #11110F;
    padding: 1rem 0px;
    z-index: 100;
}
.container-logo{
    margin: 0px 2.5rem;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0px;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    background-color: white;
}
.container-navbar ul {
 display: flex;
 list-style: none;
 gap: 2rem;
}
.container-navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.container-navbar-lists{
    margin: 0px 5rem;
}
.container-navbar ul .login{
 padding-left: 1rem;
 
}
.container-navbar ul .signup{
 padding-left: 2rem;
}
.container-navbar ul .signup a {
    color: #1A9718;
}
.container-navbar ul .login a {
    color: #1A9718;
    transition:all 0.7s ease;
}
.container-navbar ul li a:hover {
    color: gray;
}
.menus{
  color: #ffffff;
  font-size: 28px;
  display: none;
  padding: 1rem 3rem;
}
.landing-pageinfo{
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    color: rgb(194, 195, 196);
    margin: 3rem  0px;
    padding:1rem 5rem;
}

.box-info {
  width: 40%;
  /* background-color: #1A9718; */
  border-radius: 7rem 0px 7rem 0px;
  padding: 12px 3rem;
  margin: 2rem 0px 3px 3px;
  border: 4px solid #1A9718;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.photo-developer > img{
    width: 40%;
    padding: 10px 0px;
    
}
.photo-developer-info {
    display: flex;
    align-items: center;
}
.photo-developer-info  i {
    width: 32px;
}
.photo-developer-info  p{
    padding: 0rem 12px;
}
.container-language {
    display: flex;
}
.languages {
 background-color: #1A9718;
 padding: 4px 8px;
 border-radius: 40px;
 margin: 12px 3px;
}
.download-button {
  width: 70%;
  background-color: #D9D9D9;
  padding: 8px 12px;
  margin: 0 auto;
  color: black;
  border-radius: 40px;
  margin: 12px auto     ;
  cursor: pointer;
  
}
.download-button i {
    color: black;
}
.who-am-i-text{
   margin: 0px 1.5rem;
   font-size: 2rem;
   font-weight: bold;
}
.text {
    color: #189780;
    font-size: 80px;
    font-weight: bold;
}
.iam {
   color: #5BC27E; 
}
.yvan {
 color: #0C3583;
}
.heading-text {
 width: 60%;
}
.heading-text p{
    margin: 0px 1.5rem;
}
.boxinfo-part-two{
   display: flex; 
}
.box-info-parttwo{
    margin: 3rem 0px;
  
}
.container-items{
    width: 70px;
    cursor: pointer;
    background-color: #3C3535;
    border: 3px solid #189780;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
    border-radius: 20px;
}
.container-items a{
  padding: 1.6rem 0px;
  color: white;
}
#about-me {
    width: 100%;
    height: 800px;
    background: linear-gradient(to bottom, #1C1B1B, #189780);
    color: white;
    padding:1rem 5rem;
}
.main-container {
    padding: 20px 0px;
}
.logo-code {
    display: flex;
    justify-content: center;
   padding: 0rem 0px 0px 0px;
}
.about-me-title {
 width: 20%;   
 
}
.about-me-title h2 {
    background-color: #D9D9D9;
    padding: 4px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 0px 20px;
    color: #293836;
    margin: 2rem 0px;
}
.name-text {
    color: #22E742;
}
.react {
    color: #22E742;
}
.blog{
    color: #F48B2A;
}
.text-break {
  margin: 1rem 0px;
}
.about-me-text {
    width: 50%;
    padding: 2rem;
    background-color: #222422;
    border-radius: 41px;
}

.container-main-text {
   margin: 0rem 2rem;
}
.container-img-text {
    display: flex;
    justify-content: space-between;
    
}
.about-me-img{
    width: 50%;
    margin-top: rem;
    display: flex;
    justify-content: flex-end;
   
}
.about-me-img img {
    width: 70%;
    border-radius: 20px;
}

.logo-code img{
    width: 50%;
    object-fit: cover;
}
#skills {
    position: relative;
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    
  }
  
  #skills::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./assets/code-1076536_1920.jpg');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    opacity: 0.4; 
    z-index: -1;
  }
 .container-skills {
    padding: 2rem 0px;
    color: #ffffff;
 }
 .skills-title{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
 }
.skills-title p{
  font-size: 34px;
  font-weight: bold;
  color: #64E437;
 }
 .line-skills {
    width: 16px;
    height: 16px;
    background-color: #092458;
    border-radius: 50%;
 }
 .line-container {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .line-container span {
    height: 3px;
    width: 6rem;
    background:#092458;

 }
 .para-skills {
    display: flex;
    justify-content: center;
 }
 .para-skills p {
    font-size: 13px;
    opacity: 0.9;
 }
 .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 23px;
    margin: 6rem 0px;
 }
 .card-one {
   display: flex;
   justify-content: center;
   background-color: #D9D9D9;
   padding: 2rem;
   color: black;
   border-radius:20px;
   border-left: 2rem solid #81D34E;
 }
 .min-card i{
   font-size: 2rem;
 }
 .min-card {
  text-align: center;
 }
 .langs {
  color: #189780;
  padding: 1rem 0px 0px 0px;
 }
 .lang-contanier-circle {
    margin: 3rem 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7rem;
 }
 .html-container {
    width: 100px;
    height: 100px;
    background-color: #D22D2D;
    padding: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 .html-container i{
   font-size: 2rem;
 }
 .container-circle {
    display: flex;
    align-items: center;
    flex-direction: column;
    
 }
 .container-circle-langs {
    color: #64E437;
 }
 #my-work {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.95;
    padding: 0px 5rem ;
  }
  
  #my-work::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./assets/programming-language-jobs.png');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    opacity: 0.2; 
    z-index: -1;
  }
  .line-skills-work {
    width: 16px;
    height: 16px;
    background-color: #2960CA;
    border-radius: 50%;
 }
 .line-container-work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
 }
 .line-container-work span {
    height: 3px;
    width: 14rem;
    background:#2960CA;
 }
 
 .my-project {
    width: 100%;
    display: flex;
    overflow-x: scroll;
 }
 
 .my-project div {
    width: 800px;
    display: flex;
    gap: 30px;
    padding: 12px;
    flex: none ;
 }
 .my-project div img {
    max-width: 100%;
    height: auto;
 }
 .my-project::-webkit-scrollbar {
    display: none;
 }
 .my-project-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
 }
  .img-pre  {
    color: black; 
    background-color: white;
    border-radius: 50%;   
    width: 5%; 
 }
 #next-btn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
 }
 #prev-btn {
    width: 50px;
    cursor: pointer;
    margin: 40px;  
 }
.proj a span {
    color: #18e614;
    text-decoration: none;
 }
 
 .my-project div span {
    position: relative;
    width: 100%;
    cursor: pointer;
    display: block; 
    overflow: hidden;
    transition: all 0.9s ease-out; 
}
.my-project div span a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    color: #1eb1b6;
    padding: 4px 12px;
    background-color: #000000;
    opacity: 0;
    border-radius: 12px;
    text-decoration: none;
    transition: opacity 0.3s ease-in; 
}
.my-project div span:hover {
    opacity: 0.8    ;
    transform: scale(1.1);
}
.my-project div span:hover a {
    opacity: 1;
}
.text-project {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0px;
    text-align: center;
    font-size: 14px;
}
.text-project p{
    width: 60%;
}

/* BLOG SECTION */

#blogs {
 width: 100%;
 height: 100%;
 padding: 0rem 5rem;
 background-color: #273435;
 color: #ffffff;
}
.container-blog {
    padding: 2rem 0px;
}
.container-main {
    padding: 0px 13rem;
}
.line-btn {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 1rem 0px;
}

.photo-blog {
    width: 60%;
}
.photo-blog img{
 width: 70%;
 border-radius: 12px;
}
.photo-container-blog{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-content-blog p {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
}
.main-content-blog h3 {
    padding: 0px 0px 1rem 0px;
    color: #5AA341;
    font-size: 16px;
    margin-top: 12px;

}
.more-info {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* flex-wrap: wrap; */
    
}
.more-info a {
    text-decoration: none;
    color: #18e614;
}
.likes-comments {
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
}

.view-more-blog {
  display: flex;
  justify-content: center;
  margin: 2rem 0px;
}
.view-more-blog a {
    color: white;
    font-size: 13px;
    border: 1px solid #189780;
    padding: 5px 12px;
    text-decoration: none;
    border-radius: 8px;
    color: #1A9718;
}

.more-info  span {
    font-size:18px;
    padding: 0px 23px;
    color: white;
}
.more-info p{
    padding: 8px 0px;
    color: #64E437;
    font-size:15px;
}
.info-blog {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1A9718;
    margin: 1rem 0px;
}
.web-dev {
    text-align: center;
    background-color: #202020;
    border-radius: 100px;
    padding: 4px 1rem;
} 
.blogs-button {
   display: flex;
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
   margin: 2rem 0px; 
}
.blogs-button p a {
    text-decoration: none;
    list-style: none;
}
.blogs-button .view-more {
    padding: 16px;
    font-size: 21px;
    font-weight: bold;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 16px;
    cursor: pointer;
}
.subscribe {
    padding: 16px;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid #1A9718;
    color: #ffffff;
    border-radius: 16px;
    cursor: pointer; 
}
#contact {
 width: 100%;
 height:100%;
 background-color: #606462;
 color: white;
 padding: 0px 5rem;
}
.container-contact {
    padding: 0px 13rem;
}
.line-skills-contact {
    width: 16px;
    height: 16px;
    background-color: #092458;
    border-radius: 50%;
 }
 .line-container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .line-container-contact span {
    height: 3px;
    width: 14rem;
    background:#092458;

 }
 .main-contact {
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin: 2rem 0px;
 }
  
 .title-main-contact {
    display: flex;
    justify-content: center;
    margin: 1rem 0px;
    color: white;
}
.title-main-contact p{
     border: 3px solid #30EC38;
     padding: 12px 1rem;
     border-radius: 0px 40px 0px 40px ;
     font-size: 32px;
     color: #58D10E;
 }
 .contact-text {
    text-align: center;
 }
 .container-info-mail {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin: 3rem 0px;

 }
 .errors {
    margin-top: -14px;
    color: rgb(223, 19, 19);
 }
 
 .nameInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: poppins;
    margin-top: 1rem;
 }

 .nameInput input {
    width: 90%;
    font-family: poppins;
    margin: 1rem 0px;
    background-color: #606462;
    border: none;
    border-bottom: 2px solid  #66C02E;
    color: #ffffff;
    outline: none;
    padding-left: 8px;
    background-color: none;
 }
 .nameInput-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
 }
 .nameInput-message textarea{
    width: 95%;
    font-family: poppins;
    margin: 1rem 0px;
    background-color: #606462;
    border: none;
    border-bottom: 2px solid  #66C02E;
    color: #ffffff;
    padding-left: 8px;
    outline: none;
 }
 .nameInput-message input::placeholder {
    color: #d3d1d1;
 }
 .nameInput input::placeholder {
    color: #d3d1d1;
}
.title-main-send {
    display: flex;
    justify-content: center;
    margin: 1rem 0px;
}
.title-main-send button{
    border: none;
    background-color: #398638;
    color: #fff;
    padding: 12px 1rem;
    font-family: poppins;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
 }
 .title-main-send button i {
    padding: 0px 5px;
    font-size: 14px;
 }
 
 #footer {
    width: 100%;
    margin: 0rem 0px 0px 0px;
    padding: 2.5rem 0px 2.5rem 0px;
 }
 .container-footer {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }
 .copyright{
   display: flex;
   gap: 12px;
   font-size: 14px;
   align-items: center;

 }
 .copyright a{
    color: #b4b9b7;
    font-size: 13px;
 }

@media screen and (max-width: 993px) {
    .container-contact {
        padding: 0px 20px;
    }
   .menus {
        display: block;
    }
    .menus.active .bar:nth-child(2){
        opacity: 0;
    }
    .menus.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menus.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .container-navbar-lists {
        position: fixed;
        left: -1300px;
        top: 60px;
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #11110F;
        width: 100%;
        height: 100vh;
        padding: 12px 0px;
        transition: 0.3s;
    }
    .container-main {
        padding: 0px 2rem;
    }
    .container-navbar-lists{
        margin: 0px 0rem;
    }
    .container-navbar-lists li {
        margin: 8px 0px;
    }
    .container-navbar-lists.active{
        left: 0;
    }
    .container-chevron {
        display: flex;
        align-items: center;
    }
   
    .chevron-right .chevron-left {
        width: 30px;
        height: 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0rem 0.5rem; 
        cursor: pointer;
        position: absolute;
     }
     .chevron-left {
        top: 50%;
     }
     .chevron-right {
        top: 30%;
     }
    .nameInput input {
        width: 100%;
    }
    .container-info-mail {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
    
     }
     .copyright{
        font-size: 15px;
      }
      .copyright a{
         font-size: 15px;
      }
     .title-main-contact p {
        border: 1.8px solid #18e614;
        font-size: 18px;
     }
    #contact {
        padding: 0px 20px;
    }
    .photo-container-blog {
        display: block;
    }
    .container-nav {
        width: 100%;
        position: fixed;
        /* margin: -12px -12rem 0px 0px; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #11110F;
        /* border-radius: 12px; */
        margin: 0 -14px;
        z-index: 100;
        padding: 0px 0px;
    }
    .my-project div img {
        max-width: 100%;
        height: auto;
     }
    #blogs {
    width: 100%;
    height: 100%;
    padding: 0rem 20px;
    background-color: #273435;
    color: #ffffff;
       }
      .blogs-button .view-more {
       width: 100%;
       text-align: center;
       padding: 12px;
    } 
    .subscribe {
    width: 100%;
    text-align: center;
    padding: 12px  
    }
    .info-blog {
        display: flex;
        flex-direction: column;
    }
    .photo-blog {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .photo-blog img{
     width: 100%;
     border-radius: 12px;
    }
    .main-content-blog p {
        width: 100%;
    }
    .main-content-blog h1 {
        font-size: 14px;
        padding: 0.4rem 0px;
    }
    #my-work {
        height: 100%;
        padding: 0px 12px;
    }
    #skills {
        height: 100%;
    }
    #next-btn {
        width: 30px;
        cursor: pointer;
        margin: 0px;
       }
       #prev-btn {
          width: 30px;
          cursor: pointer;
          margin: 0px;  
       }
    .main-content-project{
        margin: 2rem 0px 0px 0px; 
    }
    .card-one p {
        font-size: 14px;
    }
    .lang-contanier-circle {
        gap: 1rem;
    }
    .chevron-right {
        margin: 4rem 12px
    }
    .about-me-title{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container-img-text {
        display: block;
    }
    .logo-code img{
        width: 100%;
        height: 100px
    }
    .about-me-text {
        width: 100%;
    }
    .about-me-img{
      width: 100%;
      margin: 12px 0px;
    }
    .about-me-img img {
        width: 100%;
    }
    .about-me-title {
        text-align: center;
    }
   
    .text{
        font-size: 43px;
        text-align: center;
    }
    #landing-page{
        padding: 0px 1rem;
    }
    #about-me {
        padding: 20px 1rem; 
        height: 100%; 
    }
    .landing-pageinfo {
        flex-direction: column;
        align-items: center;
    }
    .box-info {
        padding: 0 10rem;
    }
    .heading-text {
      width: 100%;
    }
    .landing-pageinfo{
     gap: 3rem;
     margin: 3.3rem 0px 0px 0px;
    }
    .box-info-parttwo{
        margin: 3rem 0px;
    }
    #landing-page{
        height: 100%;
    }
   
    .container-articles{
        padding: 0rem 0rem;
    }
    .text-project p{
        width: 100%;
        padding: 20px;
    }
   
}

@media screen and (max-width: 1226px) {
.photo-blog {
    width: 100%;
}
.photo-blog img{
    width: 100%;
    border-radius: 12px;
    padding-right: 1em;
}
.info-blog {
    display: flex;
    flex-direction: column;
}   
#about-me {
        padding: 20px 1rem; 
        height: 100%; 
    }
.text {
    font-size: 53px;
}
.box-info-parttwo{
    margin: 4rem 0px;
}
.container-articles {
    margin: 4rem 0.6rem 2rem  0.6rem;
}
}

.container-blog-title {
    /* width: 100%; */
    margin: 2rem 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}
.container-blog-title h1{
    color: #1eb1b6;
    font-size: 38px;
    margin-top: 1.7rem;
    margin-bottom: 1rem;
}
.container-blog-title {
    text-align: center;
}
.container-blog-title h2{
    margin: 2rem 0px;
    border: 2px solid #1eb1b6;
    padding: 8px 16px;
    border-radius: 30px;
    color: #1A9718;
    font-size: 18px;
    cursor: pointer;
}
.container-articles {
    padding: 4rem 20rem 2rem  20rem;
    color: #d1d0d0;
}

.container-article-title {
    text-align: center;
    color: #1eb1b6;
    margin-bottom: 4rem;
}

.info-article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 9px;
}
.line-article {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 0.5rem 0px;
}
.line-article-bottom {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 0.5rem 0px;
}

.img-article {
    margin-top: 3rem;
    text-align: center;
}
.img-article  img{
    /* height: 19rem; */
    width: 100%;
    object-fit: cover;
}
.text-container p {
    padding: 1rem 0px;
    font-size: 12px;
}
.text-container p a {
    color: #1A9718;
}
.text-container h1 {
    color: #1eb1b6;
    font-size: 17px;
    padding: 0rem 0px;
}
.references {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    gap: 1rem;
}
.references p{
  background-color: gray;
  padding: 4px 1rem;
  border-radius: 12px;
}
.you-might-like {
   margin: 3rem 0px;
   text-align: center;
}
.you-might-like h1 {
    color: #1eb1b6;
    font-size: 32px;
}

.photo-container-article {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0px;
    /* flex-direction: column; */
}
.photo-article{
    width: 100%;
    display: flex;
}
.photo-article img {
  width: 50%;
  object-fit: cover;
}
.main-content-article{
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  margin-left: -6rem;
}
.main-content-article h1 {
    font-size: 15px;
    /* margin-left: -1.3rem; */
    float: right;
}
.main-content-article p {
    text-align: left    ;
    font-size: 13px;
}
.more-info-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0px;
}
.info-articles {
    display: flex;
    flex-wrap: wrap;
}
 .info-articles p {
    padding: 4px 6px;
 }

 @media screen and (max-width: 1080px) {
    .container-articles {
      padding: 4rem 1rem 2rem 1rem; 
    }
    .photo-container-article {
        display: block;
    }
    .main-content-article p {
        font-size: 13px;
        margin: 0rem 5rem;
    }
    .main-content-article h1 {
        font-size: 15px;
        padding: 1rem 1.8rem;
        text-align: right;
    }
    .photo-article img {
        width: 100%;
        object-fit: cover;
      }
  }
 @media screen and (max-width: 1300px) {
    .container-articles {
      padding: 4rem 0rem 2rem 0rem; /* Further adjusted padding for smaller screens */
    }
  }